<li *ngIf="category">
  <h1>{{ category.title}} - {{ category.description }}</h1>
</li>
Produkty
<li *ngFor="let product of products">
  <a href="/product/{{ product.id}}">{{ product.title}} - {{ product.description }}</a>
</li>
