<form [formGroup]="payment">
  <div class="form-group">
    <label for="karta">Karta</label><input id="karta" formControlName="payment" type="radio" [value]="karta" >
  </div>
  <div class="form-group">
    <label for="gotowka">Gotówka</label><input id="gotowka" formControlName="payment" type="radio" [value]="gotowka">
  </div>
  <div class="form-group">
    <label for="nerka">Nerka</label><input id="nerka" formControlName="payment" type="radio" [value]="nerka">
  </div>
</form>
<form [formGroup]="delivery" (ngSubmit)="addOrder($event)">
  <div class="form-group">
    <label for="kurier">Kurier</label><input id="kurier" formControlName="delivery" type="radio" [value]="kurier">
  </div>
  <div class="form-group">
    <label for="paczkomat">Paczkomat</label><input id="paczkomat" formControlName="delivery" type="radio" [value]="paczkomat">
  </div>
  <button type="submit">Add</button>
</form>
