<li *ngIf="productDetails">
  {{ productDetails.title}} - {{ productDetails.description }}
</li>
Typy
<li *ngFor="let type of types">
  {{ type.title}} - {{ type.info }} cena {{productDetails.price + type.extraPrice}}
  <button type="button" (click)="addToCart(type.id,0,-1,1)">Do koszyka</button>
</li>
