<h1>
  {{title}}
</h1>
  <button type="button" (click)="authenticate('google')">Logowanie Google</button>
  <ul>
    <li> <a href="/">Strona główna</a></li>
    <li> <a href="/categories">Kategorie</a></li>
    <li> <a href="/products">Nasze produkty</a></li>
    <li> <a href="/cart/0">Koszyk</a></li>
  </ul>
<li><a *ngIf="isAuthenticated() && user" href="#"><i></i> {{ user.firstName }} {{ user.lastName }}</a></li>
<router-outlet></router-outlet>
