<li *ngIf="cart">
  <h1>Koszyk</h1>
</li>
Przedmioty
<li *ngIf="!products.length">
  <h2>Koszyk jest pusty</h2>
</li>
<li *ngFor="let p of products;let i = index">
  {{p.title}}- typ {{types[i].title}} cena {{p.price + types[i].extraPrice}}
  <button type="button" (click)="deleteFromCart(items[i].id)">Usuń</button>
</li>
<li> <a href="/buy/0">Kupuję</a></li>
